@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f5f5f5; /* Light gray background */
        color: #333;
        margin: 0;
        padding: 20px;
        text-align: center;
    }

    nav {
        background-color: #4CAF50; /* Dark green background for the navigation bar */
        padding: 10px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    li {
        margin: 0 20px;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        transition: color 0.3s ease-in-out;
    }

    a:hover {
        color: #8BC34A; /* Light green color on hover */
    }

    h1 {
        color: #4CAF50; /* Dark green color for the heading */
    }

    select {
        padding: 10px;
        font-size: 16px;
        margin: 10px;
    }

    #results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 30%;
        border: 1px solid #8BC34A; /* Light green border */
        margin: 10px;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
        height: 150px;
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

